<div class="px-4 py-5 my-5 text-center">
    <img  src="css/image0.png" class="iconmsss">
    <h1 class="display-5 fw-bold" style="@Museum.BaseColor" >متحف السعيرة</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">متحف السعيرة أحد متاحف المنطقة الشرقية في حفر الباطن، أسسه هايف بن سعود الفغم، يقع المتحف بمبنى تابع لسكن المالك ويتكون من ثلاث قاعات تتوفر فيها عدد كبير من أصناف القطع التراثيه ويرتبط بالقاعات الثلاث ساحة كبيرة عرضت بها سيارات قديمة خاصة لصاحب المتحف .</p>
      <MudButton Href="bref/"
          
           Variant="Variant.Text"
          
           style="@Museum.BaseColor"
           >
    عرض المزيد
</MudButton>
    </div></div>