<MudAlert Severity="Severity.Normal" NoIcon="true"  Class="px-2">
   
    <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom" style="@Museum.BaseColor" >مرافق المتحف </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient" style="@Museum.BaseColor">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
                <h4>المجلس التراثي لاستقبال الضيوف</h4>
                <p>مجلس تقليدي يستخدم لاستقبال الضيوف. يتميز بتصميمه النجدي الأصيل وديكوره البسيط.</p>
        <a href="#" class="icon-link">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient" style="@Museum.BaseColor">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
                <h4>المكتب الخاص لصاحب المتحف</h4>
                <p>يبلغ عمر طاولة المكتب تقريبا 42 عام استخدمها في مسيرته التعليميه كامدير بمدارس السعيرة</p>
        <a href="#" class="icon-link">

          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient" style="@Museum.BaseColor">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
                <h4>المكتبه الخاصه</h4>
                <p>
                    المكتبه الخاصه لصاحب المتحف والتي تحتوي
                    على اكثر من 3000 كتاب
                </p>
        <a href="#" class="icon-link">
          
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>



</MudAlert>