
  <MudAlert Severity="Severity.Normal"  NoIcon="true" Dense="true" style="position: relative;">

<div class="container px-4 py-5" id="custom-cards">
    <h3 class="pb-2 border-bottom"  style="@Museum.BaseColor" ># 
أبرز أقسام متحف السعيرة</h3>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" style="justify-content: center;">
     
     
     @foreach(var sec in Museum.getRoundItems()){
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="@("background-image: url("+sec.Image+");")">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h5 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">@sec.Name</h5>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="images/car.jpeg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small></small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

 }


    </div>
  </div>
<MudOverlay @bind-Visible="isVisible" DarkBackground="true"  Absolute="true" >
             <button class="btn btn-primary" style="background: rgb(177 110 51);border-color: rgb(177 110 51)" type="button"> <a href="/section/s1" >عــرض المـزيـد</a> </button>

</MudOverlay>    
     
    </MudAlert>

    @code{
          private bool isVisible=true;

    }