@page "/cv"

<MudAlert Severity="Severity.Normal" NoIcon="true"  style="padding: 5%;width:100%">

    <section class="about">
      
        <h4>نبذة عن الاستاذ هايف</h4>
        <p>
            الاستاذ هايف سعود الفغم
            تاريخ الميلاد ١٨/٤/١٩٥٠
          
            ولد ونشاء بقريه الجنوبية بالمنطقه الشرقيه ( هجرة الفغم)
            تلقى تعليمه الابتدائي حتى السنه الرابعه في قريته والخامس والسادس بقرية العليا ثم درس اولى متوسط في مدرسة الفروانية المتوسطة بالكويت وأنتقل إلى الرياض
            عام ١٩٦٣ واكمل المتوسطة في المتوسطة الثانية بشارع الملك فيصل واكمل الثانوية في ثانويةاليمامة بلرياض ثم درس في كلية التجارة في عليشة بالرياض وكان عميد الكلية
            د/غازي القصيبي واكمل البكلوريوس في بريطانيا عام ١٩٧٣ ورجع من بريطانيا بعد التخرج بالسيارة الى السعودية برفقة زميله عبدالله السرحان وطلبه وكيل الحرس الوطني عبدالعزيز التويجري أن يكون مستشار بالحرس
            الا أن والده رفض وقال أولاد جماعتنا بحاجة الى التعليم وذهب الشيخ سعود الفغم والده الى الدكتور / عبدالعزيز الخويطر وزير المعارف في ذلك الوقت وطلب تعيينه مديراً
            لمدرسة قرية الفغم وتم ذلك وبقي ٣٤ سنه و ٨ شهور
            افتتح خلالها المتوسطة والثانوية في السعيرة التي أنشأت عام ١٢٩٦ وسكنت عام ١٣٩٨ وكان هو صاحب المتحف من مؤسسيها
            بدأت فكرة تأسيس المتحف ١٤٢٩ في غرفة واحدة ثم تطور كما ترون اليوم
            سبب تأسيس المتحف هو تعريف الاجيال الحديثة أن لهم تراث عظيم لابد الاطلاع عليه وربط الحاضر بالماضي
        </p>
    </section>
    <section class="achievements">
        <h4>إنجازات الاستاذ هايف</h4>
        <ul>
            <li>عمل مستشارًا بالحرس الوطني.</li>
            <li>عمل مديرًا لمدرسة قرية الفغم لمدة ٣٤ سنة و ٨ شهور.</li>
            <li>أسس المتحف في قرية السعيرة عام ١٤٢٩.</li>
        </ul>
    </section>
    <section class="museum">
        <h4>المتحف</h4>
       
        <p>بدأ المتحف في غرفة واحدة ثم تطور ليصبح كما هو عليه اليوم. يضم المتحف العديد من القطع الأثرية التي تعكس تاريخ المنطقة.</p>
    </section>
    <section class="reason">
        <h4>سبب تأسيس المتحف</h4>
        <ul>
            <li>تعريف الأجيال الحديثة بأن لهم تراث عظيم يجب الاطلاع عليه.</li>
            <li>ربط الحاضر بالماضي.</li>
        </ul>
    </section>
</MudAlert>