@page "/generatingai"


<MudAlert Severity="Severity.Normal" NoIcon="true"  style="padding: 5%;width:100%">


@*<TemplateGenerator  />*@
<section class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>السعيرة</h1>
            <p>
                السعيرة هي مدينة سعودية تقع في المنطقة الشرقية من المملكة العربية السعودية. تتبع إدارياً محافظة حفر الباطن. تبعد عن حفر الباطن 160 كم.
            </p>
            <p>
                تأسست سنة 1393هـ. قبل 50 عاماً كانت مورداً للمياه وتقطنها البادية الرحل. نشأت على أنقاض حريق هائل أتى على مساحات كبيرة من الأعشاب البرية.
            </p>
            <h2>مميزات السعيرة</h2>
            <ul>
                <li>تتمتع بموقع استراتيجي متميز على طريق دولي يربط مناطق المملكة الشمالية والوسطى والشرقية.</li>
                <li>تشهد نمواً وتطوراً سريعاً.</li>
                <li>تتميز طبيعتها بالانبساط والربيع.</li>
                <li>تشتهر بوجود الفقع الذي يجذب الكثير من الزوار.</li>
            </ul>
            <h2>الخدمات في السعيرة</h2>
            <ul>
                <li>يوجد فيها مركز رعاية صحية مزود بالأطباء والممرضات.</li>
                <li>يوجد فيها مدارس بنين وبنات في جميع المراحل.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Al-Saih_City_2.jpg/1200px-Al-Saih_City_2.jpg" alt="صورة مدينة السعيرة">
        
        
        </div>
    </div>
</section>

</MudAlert>