@page "/"

@using ChatASG.Components.TemplateSection
<PageTitle>Index</PageTitle>
<div class="pattern-square"></div>


<BriefBar />

<div class="pattern-square"></div>
<NewsBar />

      
<SectionBar />


 
 
 
 @* <LPBar /> *@
<FacilitiesBar />

<FooterBar/>
  


@code{ 
   
}